<div class="loader" *ngIf="showSpinner"></div>
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
                <form [formGroup]="adminForm" (ngSubmit)="loginAdmin()">
                <div class="form-data">
                    <div class="forms-inputs mb-4"> <span>Email or username</span> <input autocomplete="off" type="text" formControlName="email" name="email">
                        <div class="invalid-feedback">A valid email is required!</div>
                    </div>
                    <div class="forms-inputs mb-4"> <span>Password</span> 
                        <input autocomplete="off" type="password" formControlName="password" name="password" #loginPasswordInput>
                        <i class="eye fa-solid fa-eye"
                        (click)="togglePassword(loginPasswordInput)"></i>
                        <div class="invalid-feedback">Password must be 8 character!</div>
                    </div>
                    <div class="mb-3"> <button  class="btn btn-dark w-100">Login</button> </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>