<div class="d-flex justify-content-end mt-1">
    <button class="btn" routerLink="/sellerProducts">My Products</button>
</div>

<div class="form-top">
    <div class="myForm">
        <h3 class="mt-2 text-center">Add Products</h3>
        <form [formGroup]="productForm"  enctype="multipart/form-data" (ngSubmit)="onSubmit()" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Product Title</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Product title" formControlName="title" name="title">
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Product Description" formControlName="description" name="description">
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Price</label>
                    <input type="number" class="form-control" placeholder="Price" formControlName="price"
                        name="price">
                </div>
                <div class="col">
                    <label for="exampleInputEmail1">Discount Percentage</label>
                    <input type="number" class="form-control" placeholder="Discount Percentage"
                        formControlName="discountPercentage" name="discountPercentage">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Rating</label>
                    <input type="number" class="form-control" placeholder="Rating" formControlName="rating"
                        name="rating">
                </div>
                <div class="col">
                    <label for="exampleInputEmail1">stock</label>
                    <input type="number" class="form-control" placeholder="stock" formControlName="stock"
                        name="stock">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label for="exampleInputEmail1">Category</label>
                    <input type="text" class="form-control" placeholder="Rating" formControlName="category"
                        name="category">
                </div>
                <div class="col">
                    <label for="exampleInputEmail1">Brand</label>
                    <input type="text" class="form-control" placeholder="stock" formControlName="brand"
                        name="brand">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlFile1"><b>Choose Thumbnail</b> &nbsp;</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1"
                    name="thumbnail" (change)="onThumbnailSelected($event)" enctype="multipart/form-data">
                <img [src]="thumbnailPreview" *ngIf="thumbnailPreview" />
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlFile1"><b> More images </b>&nbsp;</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1"
                    name="images" multiple (change)="onImagesSelected($event)">
                <img [src]="thumbnailPreview" *ngIf="thumbnailPreview" />
            </div>
            <br>
            <div class="myBtn">
                <button type="submit" class="btn btns-primary mb-4 d-flex" [disabled]="productForm.invalid">
                    Add Product
                </button>
            </div>
        </form>
    </div>
</div>

    

