<div class="loader" *ngIf="showSpinner"></div>
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col" >
                        <h4><b>My Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"><b>Quantity :</b> <b> &nbsp;{{totalCart}}</b></div>
                </div>
            </div>
            <div class="row border-top border-bottom"  *ngFor="let item of products">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="https://ecombackend.softprodigyphp.in/uploads/{{item.product.thumbnail}}"></div>
                    <div class="col">
                        <div class="row">{{item.product.title}}</div>
                        <div class="row">Qty : {{item.quantity}}</div>
                    </div>
                    
                    <div class="col">
                        <!-- <div class="row"><b>Brand</b></div> -->
                            <a>{{item.product.brand}}</a>
                    </div>
                    <div class="col">
                        <div class="row"><b>{{item.product.discountPercentage}} %</b></div>
                        <a >&#8377; {{item.product.price}}</a>
                     

                    </div>
                    <div class="row" style="width: auto;">
                        <button class="btn btn-sm btn-secondary mr-1" style="margin-bottom: 8px;" (click)="decreaseQuantity(item)">-</button>
                        <button class="btn btn-sm btn-secondary" (click)="increaseQuantity(item)">+</button>
                      </div>
                    <span class="close">
                        <button class="btns" (click)="deleteFromCart(item.id)">Remove</button>
                    </span>
                </div>
            </div>

            
        </div>
        <div class="col-md-4 summary" style="height: 100%;" *ngFor="let item of products">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row text-center">
                <div class="col" style="padding-left:0; margin-left: 34%;"><b>Quantity :</b> <b> &nbsp;{{totalCart}}</b></div>
                <div class="col text-right"></div>
            </div>
            <form>
                <p><b>SHIPPING TYPE : </b></p>
                <select>
                    <option class="text-muted">Standard-Delivery- &#8377;100</option>
                </select>
                <p><b>Price : &#8377;  {{item.product.price}}</b></p>
                <p><b>Total Discount : &#8377;  {{totalDiscount}}</b></p>
                <p><b>Delivery : &#8377;  100</b></p>
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col"> <b>TOTAL PRICE</b><br>
                <small>(Including Delivery Charge)</small>
                </div>
                <div class="col text-right">&#8377;  {{totalPrice}}</div>
            </div>
            <button class="btns" (click)="checkout(totalPrice)" >CHECKOUT</button>
        </div>
    </div>

</div>