<div>
    <h3>Dashboard</h3>
    <hr>


    <div class="cards">

        <mat-card>
            <mat-card-content>
                <b>Total Revenue </b>
                <hr>
                <br>
                <div class="ord">
                    <i class="fa-solid fa-sack-dollar"></i>
                    &nbsp;<span> &#8377;{{totalRevenue}}</span>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <b>Total orders </b>
                <hr>
                <br>
                <div class="ord text-success">
                    <i class="fa-solid fa-cart-shopping"></i>
                    &nbsp;<span style="color: #063970;">{{totalOrder}}</span>
                </div>
            </mat-card-content>
        </mat-card>

    </div>

    <br>
    <div class="charts">
        <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="single">
        </ngx-charts-pie-grid>
    </div>
    <br>
    <div>
        <p>Top Products</p>
    </div>
    <br>
    <div class="card border-1 mb-2">
        <div class="col-md-12">

        

            <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col"><b>Id</b></th>
                        <th scope="col"><b>Image</b></th>
                        <th scope="col"><b>Product Name</b></th>
                        <th scope="col"><b>Price(&#8377;)</b></th>
                        <th scope="col"><b>Sold Count</b></th>
                        <th scope="col"><b>Total Revenue (&#8377;)</b></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of topOrders">
                        <td>{{item.productId}}</td>
                        <td><img id="img" src="https://ecombackend.softprodigyphp.in/uploads/{{item.thumbnail}}" alt="" height="55px"></td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.count}}</td>
                        <td>{{item.price * item.count}}</td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
