 .main1{
    display: flex;
    justify-content: center;
}
.main2{
    margin: 3%;
}

/* .eye{
    cursor: pointer;
    position: absolute;
    right: 31%;
    bottom: 52%;
}
*/
body {
    background: #000
}

.card {
    border: none;
    height: 320px
}

.forms-inputs {
    position: relative
}

.forms-inputs span {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px
}

.forms-inputs input {
    height: 50px;
    border: 2px solid #eee;
    width : 100%;
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}

.btn {
    height: 50px
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}
.fa-solid{
    position: absolute;
    top: 35%;
    right: 7px;
    cursor: pointer;
}
