/* .sidebar {
    width: 200px;
    height: 100vh;
    background-color: rgb(64, 64, 179);
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar li a {
    color: white;
    text-decoration: none;
}

.sidebar-hidden {
    width: 0;
}

.menu-button {
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.menu-button span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: black;
    margin-bottom: 5px;
} */

.mat-toolbar.mat-primary {
    background: #007bff;
    color: #fff;
  }

  button{
    background: #007bff;
    color: #fff;
  }