<!-- <div class="sidebar" [ngClass]="{ 'sidebar-hidden': isSidebarHidden }">
    <ul>
        <li><i class="fas fa-home"></i>Dashboard</li>
        <li><i class="fas fa-users"></i>User</li>
        <li><i class="fas fa-store"></i>Seller</li>
        <li><i class="fas fa-shopping-cart"></i>Orders</li>
    </ul>
</div>

<div class="menu-button" (click)="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
</div>
 -->


 <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
    </button>
    <span class="nion">&nbsp; Super Admin</span>
  
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidebar">
      <mat-nav-list>
        <a mat-list-item routerLink="/superAdminHome">Dashboard</a>
        <a mat-list-item routerLink="/superAdmin/userList">Users</a>
        <a mat-list-item routerLink="/superAdmin/SellerList">Sellers</a>
        <a mat-list-item routerLink="/users">Orders</a>
        <a mat-list-item (click)="logout()">Logout</a>
       
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 100vh;">
        <router-outlet>
        </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>