
<div class="main">
  <div class="divMain">
    <img src="../../../assets/logo-icon.svg" alt="">
    <h2>Forgot Password ?</h2>
    <p>Fill the form to reset your password.</p>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
        <input id="email" name="email" placeholder="Enter Your Email" class="form-control" type="email"
          [(ngModel)]="email">
      </div>
    </div>
    <div>
      <button class="btns mt-3 w-100" (click)="sendMail()">Send Reset Link</button>
    </div>
    <br>
    <p>Return to <span style="cursor: pointer;" class="text-primary" routerLink="/">Sign in</span></p>
  </div>

</div>