<div class="loader" *ngIf="showSpinner"></div>
<div class="card border-1 mb-2">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr class="topBar">
                    <th scope="col"><b>Name</b></th>
                    <th scope="col"><b>Email</b></th>
                    <th scope="col"><b>Phone</b></th>
                    <th scope="col"><b>Joined</b></th>
                    <th scope="col"><b>Action</b></th>
             
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allSellers" style="text-align: center;">
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.createdAt | date:'longDate'}}</td>
                    <td>
                        <div>
                            <button *ngIf="!item.isBlocked" title="block" (click)="blockSeller(item._id)"><i class="fa-solid fa-user-lock"></i></button>
                            <button *ngIf="item.isBlocked" title="Unblock" (click)="blockSeller(item._id)"><i class="fa-solid fa-lock-open"></i></button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>