<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3 my-lg-0 my-md-1">
            <div id="sidebar" class="bg-purple">
                <div class="h4 text-white">Account</div>
                <ul>
                    <li routerLinkActive="active">
                        <a class="text-decoration-none d-flex align-items-start" routerLink="dashboard">
                            <div class="fa-solid fa-box pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">Dashboard</div>
                                <div class="link-desc">View & Manage orders and returns</div>
                            </div>
                        </a>
                    </li>
                    <li *ngIf="forseller" routerLinkActive="active" >
                        <a class="text-decoration-none d-flex align-items-start" routerLinkActive="active" routerLink="sellerProducts">
                            <div class="fas fa-user-secret pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Products</div>
                                <div class="link-desc">Check your Products as You are Merchant</div>
                            </div>
                        </a>
                    </li>

                    <li routerLinkActive="active">
                        <a class="text-decoration-none d-flex align-items-start" routerLinkActive="active" routerLink="MyOrderList">
                            <div class="far fa-address-book pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Orders</div>
                                <div class="link-desc">View Your Purchased Orders</div>
                            </div>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a href="#" class="text-decoration-none d-flex align-items-start" routerLinkActive="active">
                            <div class="far fa-user pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Profile</div>
                                <div class="link-desc">Change your profile details & password</div>
                            </div>
                        </a>
                    </li>
                    <li >
                        <a class="text-decoration-none d-flex align-items-start" routerLinkActive="active" routerLink="support">
                            <div class="fas fa-headset pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">Help & Support</div>
                                <div class="link-desc">Contact Us for help and support</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="col-lg-9 my-lg-0 my-1">
            <div id="main-content" class="bg-white border">
                <router-outlet></router-outlet>
        </div>
    </div>