



 .maindiv{
	display: flex;
	justify-content: center;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	height: 100vh;
	width: 96%;
	margin: 2%;
 }
.addressDiv{
	display: flex;
	justify-content: center;
	
}
.addressDiv2{
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 2%;
	padding: 2%;
	width: 20%;
	cursor: pointer;
}
.plus{
	text-align: center;
	font-size: 90;
}
.nextbtn{
	position: absolute;
	left: 33%;
	width: 33%;
	
}