<form>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">New Password</label>
        <input type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" formControlName="NewPassword">

    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
        <input type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" formControlName="ConfirmPassword">
        <!-- <div *ngIf="changePassword.hasError('passwordMismatch') && changePassword.touched"
            class="text-danger">Passwords do not match</div> -->
    </div>

    <div class="d-flex justify-content-center" routerLink="/forgetPassword">
        <a class="text-danger" style="cursor: pointer;" data-bs-target="#exampleModalToggle2"
            data-bs-toggle="modal" data-bs-dismiss="modal">Forget password ?</a>
    </div>

</form>